nba_api
pandas>=2.2.3
numpy>=1.26.4
google.cloud>=0.34.0
psycopg2-binary # PostgreSQL database adapter for Python
python-dotenv>=1.0.0    # Loads environment variables from .env files
black>=24.10.0  # Python code formatter
pre-commit>=4.0.1  # Pre-commit hook manager
typing>=3.7.4.3  # Type hints for Python
tqdm==4.67.1